{% extends "base.html" %}

{% block content %}

    <br>
    <br>
    <p>What What</p>
    
    <br>

    <div class="form-wrapper" style="text-align:center">
        <form action="" method="post">
            </p>{{ form.csrf_token() }} {{ form.search }} {{ form.button }}</p>
        </form>
    </div>

    <br>

    <div>
        {% for question in questions %}
            <div>
                <p><b><a href="{{ url_for('question', question_id =question.id )  }}" class="navbar-item">{{question.question}}</a></b> {{ question.author }}</p>
            </div>
        {% endfor %}
    </div>

    <br>
    <br>

{% endblock %}