{% extends "base.html" %}

{% block content %}

    <br>

    <br>
    <br>
    <p>Question.</p>
    <br>
    <br>
    <p>{{questions}}</p>
    <br>
    <br>
    <div class="form-wrapper" style="text-align:center">
        <form action="" method="post">
            {{ button.csrf_token() }}
            {{ button.button }}
        </form>
    </div>
    <br>
    <br>
    {% for answer in question_answers %}
        <br>
        <p>{{answer.author}}</p>
        <p>{{answer.answer}}</p>
        <p>{{answer.date}}</p>
        <br>
    {% endfor %}


{% endblock %}